<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha384-o7nNlvdljzP4joXXb51F0u68tCqVaYuwA+eTPIlXtkWOepv8+VqUJgKFFxwEAqj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Profile Page</title>
    <style>
        .center {
            margin: 0 auto;
        }

        .btn-container {
            text-align: center;
        }

        .btn-sm {
            width: 50%;
            display: inline-block;
            margin: 20px;
        }

        #big {
            font-size: 30px;
        }

        .btn-orange,
        .btn-danger {
            margin-right: 10px;
            color: #fff;
            border: none;
            padding: 10px 15px;
            margin-top: 10px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
        }

        .btn-orange:hover,
        .btn-danger:hover {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transform: scale(1.05);
        }

        .btn-orange {
            background-color: #ffa550;
            transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
        }

        .btn-orange:hover {
            background-color: #ff670f;
        }

        .btn-danger {
            background-color: #dc3545;
        }

        .bold {
            font-weight: bold;
        }

        .list-group-item {
            position: relative;
            display: block;
            padding: 1rem 1rem;
            margin: 3px;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            border-radius: 10px;
            background-color: rgba(255, 165, 0, 0.6);
            border: 1px solid rgba(0, 0, 0, .125);
        }

        .list-group-item:hover {
            transform: scale(1.02);
            background-color: rgba(255, 165, 0, 1);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: rgb(52, 58, 64, 0.4);
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .list-group-item:first-child {
            border-radius: 10px;
        }

        .list-group-item:last-child {
            border-radius: 10px;
        }

        .add-new-btn {
            margin-left: auto;
        }
        .add-new-btn-edit {
            margin-left: unset;
        }

        .d-flex .justify-content-between .align-items-center {
            width: 100%;
        }
        #editModal {
        color: #fff;
    }
    

    #editModal .modal-content {
        background-color: #fff; 
        border-radius: 10px;
    }

    #editModal .modal-header {
        background-color: rgb(52 58 64); 
        color: #fff;
    }

    #editModal .modal-title {
        font-weight: bold;
    }

    #editModal .modal-body {
        padding: 20px;
    }

    #editModal .modal-footer {
        border-top: none;
        padding: 10px 20px;
    }

    #editModal .btn-primary {
        background-color: #ffa550; 
        color: #fff;
    }

    #editModal .btn-secondary {
        background-color: #6c757d; 
        color: #fff;
    }

    #editModal .btn-danger {
        background-color: #dc3545; 
        color: #fff;
    }

    #editModal .btn-primary:hover,
    #editModal .btn-secondary:hover,
    #editModal .btn-danger:hover {
        filter: brightness(90%);
    }
    .logout {
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
        }
        
        .cookie-banner {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #333333b6;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .cookie-banner p {
            margin: 0;
        }

        .cookie-banner button {
            background-color: #ffa550;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
        }
    </style>
</head>

<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <!-- User List Container -->
            <div class="col-md-6">
                <h2 class="losung">User List</h2>
                <div class="list-history">
                    <div class="card bg-custom">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <ul id="userList" class="list-group list-group-flush">
                                <!-- Each user as a list item within the card -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Add New User Button -->
                <div class="btn-container">
                    <button type="button" class="btn-orange btn-sm add-new-btn" onclick="addNewUser()">ADD NEW USER</button>
                </div>
            </div>
    
            <!-- Bet History Container -->
            <div class="col-md-6">
                <h2 class="losung">Match list</h2>
                <div class="list-history">
                    <div class="card bg-custom">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <ul id="betList" class="list-group list-group-flush">
                                <!-- Each bet as a list item within the card -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Add New Match Button -->
                <div class="btn-container">
                    <button type="button" class="btn-orange btn-sm add-new-btn" onclick="addMatch()">ADD NEW MATCH</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar -->
    <nav>
        <a class="logo" href="main.html">Candy Betting</a>
        <div class="profile">
            <a href="profile.html"><img src="images/profile.png" alt="profile"></a>
            <div class="balance">
                <span id="balance">100</span>
                <img src="images/candy.png" alt="Candy">
            </div>
            <div class="profile">
                <a href="login.html"><img src="images/logout.png" alt="logout"></a>                
            </div>
        </div>
    </nav>
<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add new user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
                <label for="newUsername" class="form-label">New login:</label>
                <input type="text" class="form-control" id="newUsername">
                <label for="newPassword" class="form-label">New password:</label>
                <input type="password" class="form-control" id="newPassword">
                <label for="newBalance" class="form-label">New balance:</label>
                <input type="number" class="form-control" id="newBalance">
                <label for="newGroup" class="form-label">New group:</label>
                <input type="text" class="form-control" id="newGroup">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orange add-new-btn" onclick="saveNewUser()">Add user</button>
                <button type="button" class="btn btn-danger add-new-btn" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="editModalBody" >
                <div class="mb-3" style="color: black;">
                    <label for="editUsername" class="form-label">Login:</label>
                    <input type="text" class="form-control" id="editUsername">
                </div>
            
                <div class="mb-3"style="color: black;">
                    <label for="editGroup" class="form-label">Group:</label>
                    <input type="text" class="form-control" id="editGroup">
                </div>
            
                <div class="mb-3"style="color: black;">
                    <label for="editBalance" class="form-label">Balance:</label>
                    <input type="number" class="form-control" id="editBalance">
                </div>

                <div class="mb-3"style="color: black;">
                    <label for="editPassword" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="editPassword">
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-orange add-new-btn-edit" onclick="saveChanges()">Save</button>
                <button type="button" class="btn btn-danger add-new-btn-edit" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete User Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Your form elements for deleting user go here -->
        </div>
    </div>
</div>
      
           <!-- Add Modal -->
<div class="modal fade" id="addMatchModal" tabindex="-1" aria-labelledby="addMatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMatchModalLabel">Add new match</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="addMatchModalBody">
                <div class="mb-3" style="color: black;">
                    <label for="newDate" class="form-label">Date:</label>
                    <input type="date" class="form-control" id="newDate">
                </div>

                <div class="mb-3" style="color: black;">
                    <label for="newTeamA" class="form-label">Team A:</label>
                    <input type="text" class="form-control" id="newTeamA">
                </div>

                <div class="mb-3" style="color: black;">
                    <label for="newTeamB" class="form-label">Team B:</label>
                    <input type="text" class="form-control" id="newTeamB">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orange add-new-btn-edit" onclick="saveNewMatch()">Add</button>
                <button type="button" class="btn btn-danger add-new-btn-edit" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

    <!-- End Match Modal -->
<div class="modal fade" id="endMatchModal" tabindex="-1" aria-labelledby="endMatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"  id="endMatchModalLabel">Match Result</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="endMatchModalBody">
                <p id="matchTeams"></p>
                <p id="matchResult"></p>
                <label for="endResultA" style="color: black" class="form-label">Points for first team:</label>
                <input type="number" class="form-control" id="endResultA">
                <label for="endResultB" style="color: black" class="form-label">Points for second team:</label>
                <input type="number" class="form-control" id="endResultB">
              </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orange add-new-btn-edit" id="endMatchButton" onclick="endMatchUpdate()">End Match</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
        
    </div>
    

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            fillAllUsers();
            fillAllMatches();
        });

        function endMatchUpdate() {
            const matchId = document.getElementById("endMatchButton").getAttribute("data-match-id");
            const country_home = document.getElementById("endMatchButton").getAttribute("data-match-home");
            const country_guest = document.getElementById("endMatchButton").getAttribute("data-match-guest");
            if (matchId === null) {
                console.error('Error: Element with id "matchUpdateId" not found.');
                return;
            }
            console.log(matchId);
            const country_home_score = document.getElementById("endResultA").value;
            const country_guest_score = document.getElementById("endResultB").value;
            const apiUrl = `http://localhost:8080/updatematches/${matchId}`;
            const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];
            fetch(apiUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': userToken
                },
                // Тело запроса: JSON-представление объекта match
                body: JSON.stringify({country_home, country_guest, country_home_score, country_guest_score}),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Match updated successfully:', data);
            })
            .catch(error => {
                console.error('Error updating match:', error);
            });
        }



        function endMatch(matchId, country_home, country_guest) {
        // Open a modal for ending the match
        const endMatchModal = new bootstrap.Modal(document.getElementById("endMatchModal"));
        endMatchModal.show();
        document.getElementById("endMatchButton").setAttribute("data-match-id", matchId);
        document.getElementById("endMatchButton").setAttribute("data-match-home", country_home);
        document.getElementById("endMatchButton").setAttribute("data-match-guest", country_guest);
        }

    function addMatch() {
        // Open the modal for adding a match
        const addMatchModal = new bootstrap.Modal(document.getElementById("addMatchModal"));
        addMatchModal.show();
    }

    function saveNewMatch() {
        const newDateInput = document.getElementById("newDate");
        const newTeamAInput = document.getElementById("newTeamA");
        const newTeamBInput = document.getElementById("newTeamB");

        const date = newDateInput.value;
        const country_home = newTeamAInput.value;
        const country_guest = newTeamBInput.value;

        const addMatchModal = new bootstrap.Modal(document.getElementById("addMatchModal"));
        addMatchModal.hide();

        // Assuming you have the user token stored in a cookie
        const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];

        // The data you want to send in the POST request
        const matchData = {
            date: date,
            country_home: country_home,
            country_guest: country_guest
        };

        fetch("http://localhost:8080/addmatch", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': userToken,
            },
            body: JSON.stringify(matchData),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            // Handle the success response
            console.log('Match added successfully:', data);
            // You can perform additional actions here if needed
        })
        .catch(error => {
            // Handle errors
            console.error('Error adding match:', error);
        });
    }


    function editMatch(match) {
        const newDetails = prompt(`Edit details for the match ${match}:`, match);

        if (newDetails !== null) {
            //Edit match details
            console.log(`Editing match ${match}: ${newDetails}`);

            // Here you can add code to send an AJAX request to the server or other appropriate action
        }
    }

    async function deleteMatch(matchID) {
        // Confirm that the user really wants to delete the match
        const confirmDelete = confirm(`Are you sure you want to delete the match with ID: ${matchID}?`);

        if (confirmDelete) {
            try {
            // Get the user token from cookies (assuming you have stored it there)
            const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];

            // Fetch to delete the match
            const response = await fetch(`http://localhost:8080/matches/${matchID}`, {
                method: 'DELETE',
                headers: {
                'Content-Type': 'application/json',
                'Authorization': userToken,
                },
            });

            if (!response.ok) {
                console.error('Failed to delete the match:', response.statusText);
                return;
            }

            // Here you can handle the success, e.g., remove the match from the UI
            console.log(`Match with ID ${matchID} deleted successfully`);

            } catch (error) {
            console.error('Error:', error);
            }
        }
        }


    function editUser(login, rank, balance) { 
        openEditModal(login, rank, balance);
    }

    function addNewUser() {
        openAddModal();
    }

    function openEditModal(login, rank, balance) {
        const modalBody = document.getElementById("editModalBody");
        const usernameInput = document.getElementById("editUsername");
        const passwordInput = document.getElementById("editPassword");
        const groupInput = document.getElementById("editGroup");
        const balanceInput = document.getElementById("editBalance");

        usernameInput.value = login;
        groupInput.value = rank;
        balanceInput.value = balance;

        const editModal = new bootstrap.Modal(document.getElementById("editModal"));
        editModal.show();
    }

    function openAddModal() {
        const addModal = new bootstrap.Modal(document.getElementById("addModal"));
        const newUsernameInput = document.getElementById("newUsername");
        const newPasswordInput = document.getElementById("newPassword");
        const newBalanceInput = document.getElementById("newBalance");
        const newGroupInput = document.getElementById("newGroup");

        newUsernameInput.value = "";
        newPasswordInput.value = "";
        newBalanceInput.value = 0;
        newGroupInput.value = "";

        addModal.show();
    }

    async function saveNewUser() {
        const newUsernameInput = document.getElementById("newUsername");
        const newPasswordInput = document.getElementById("newPassword");
        const newBalanceInput = document.getElementById("newBalance");
        const newGroupInput = document.getElementById("newGroup");

        const login = newUsernameInput.value;
        const password = newPasswordInput.value;
        const money = newBalanceInput.value;
        const rank = newGroupInput.value;

        const user = {login, password, money, rank}

            try {
                const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];
                const response = await fetch("http://localhost:8081/users/adduser", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': userToken,
                },
                body: JSON.stringify(user),
                });

                if (!response.ok) {
                console.error('Failed to add user:', response.statusText);
                return;
                }

                const addedUser = await response.json();
                console.log('User added successfully:', addedUser);
            } catch (error) {
                console.error('Error:', error);
            }

            const addModal = new bootstrap.Modal(document.getElementById("addModal"));
           addModal.hide();
    }

    function saveChanges() {
        const usernameInput = document.getElementById("editUsername");
        const passwordInput = document.getElementById("editPassword");
        const groupInput = document.getElementById("editGroup");
        const balanceInput = document.getElementById("editBalance");

        const editedUsername = usernameInput.value;
        const editedPassword = passwordInput.value;
        const editedGroup = groupInput.value;
        const editedBalance = balanceInput.value;

        // Get the user token from cookies (assuming you have stored it there)
        const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];

        // Prepare the data to be sent in the request body
        const requestBody = {
            password: editedPassword,
            rank: editedGroup,
            money: parseInt(editedBalance),  // Assuming balance is a number
        };

        // Send a fetch request to update the user
        fetch(`http://localhost:8081/users/updateuser/${editedUsername}`, {
            method: 'PUT',
            headers: {
            'Content-Type': 'application/json',
            'Authorization': userToken,
            },
            body: JSON.stringify(requestBody),
        })
        .then(response => {
            if (!response.ok) {
            throw new Error(`Failed to update user: ${response.statusText}`);
            }
            console.log(`User updated successfully: ${editedUsername}`);
            // Add additional actions if needed
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle the error as needed
        });

        // Close the modal after saving changes
        const editModal = new bootstrap.Modal(document.getElementById("editModal"));
        editModal.hide();
    }


    function confirmDelete(username) {
        const confirmDelete = confirm(`Are you sure you want to delete the user? ${username}?`);
        
        if (confirmDelete) {
            // Implement delete functionality
            console.log(`Deleting user: ${username}`);
            
            // Get the user token from cookies (assuming you have stored it there)
            const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];

            // Send a fetch request to delete the user
            fetch(`http://localhost:8081/users/deleteuser/${username}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': userToken,
            },
            })
            .then(response => {
            if (!response.ok) {
                throw new Error(`Failed to delete user: ${response.statusText}`);
            }
            console.log(`User deleted successfully: ${username}`);
            // Add additional actions if needed
            })
            .catch(error => {
            console.error('Error:', error);
            // Handle the error as needed
            });
        }
        }

        
        function showAddUserForm() {
            // Clear the form
            clearForm();

            // Set the modal title
            document.getElementById("formTitle").textContent = "Add User";

            // Show the Add User Modal
            $('#addUserModal').modal('show');
        }

        function showEditUserForm(user) {
            // Clear the form
            clearForm();

            // Populate form fields with existing user details
            document.getElementById("itemName").value = user.username;
            document.getElementById("itemDetails").value = user.email;
            document.getElementById("itemResult").value = user.role;

            // Set the modal title
            document.getElementById("formTitle").textContent = "Edit User";

            // Show the Edit User Modal
            $('#editUserModal').modal('show');
        }

        function showDeleteUserForm(username) {
            // Populate form elements for deleting user
            // You can include a confirmation message or additional details

            // Set the modal title
            document.getElementById("formTitle").textContent = "Delete User";

            // Show the Delete User Modal
            $('#deleteUserModal').modal('show');
        }
        // Sample JavaScript functions for reset password and edit profile
        function resetPassword() {
            // Implement reset password functionality
            console.log("Resetting password...");
        }

        function editProfile() {
            // Implement edit profile functionality
            console.log("Editing profile...");
        }

        // Fetch and display user information and bet history using AJAX or fetch API
        // ...

        // Sample data for bet history
        async function fillAllMatches() {
            try {
                // Get the user token from cookies (assuming you have stored it there)
                const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];

                // Fetch matches from the server
                const response = await fetch("http://localhost:8080/matches", {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                });

                if (!response.ok) {
                console.error('Failed to fetch all matches:', response.statusText);
                return;
                }

                const matchList = await response.json();
                const betList = document.getElementById("betList");

                matchList.forEach(match => {
                const card = document.createElement("li");
                card.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");

                const cardContent = document.createElement("div");
                if (match.country_guest_score != undefined && match.country_home_score != undefined) {
                    cardContent.textContent = `${match.country_home} | Score: ${match.country_home_score} vs ${match.country_guest} | Score: ${match.country_guest_score} - Match ID: ${match._id}`;
                }
                else {
                    cardContent.textContent = `${match.country_home} vs ${match.country_guest} - Match ID: ${match._id}`;
                }

                const deleteButton = document.createElement("button");
                deleteButton.classList.add("btn", "btn-danger");
                deleteButton.textContent = "Delete";
                deleteButton.onclick = () => deleteMatch(match._id); // Call the delete function

                if (match.is_end != true) {
                    const endButton = document.createElement("button");
                    endButton.classList.add("btn", "btn-orange");
                    endButton.textContent = "End";
                    endButton.onclick = () => endMatch(match._id, match.country_home, match.country_guest); // Call the termination function
                    card.appendChild(endButton);
                }

                card.appendChild(cardContent);
                card.appendChild(deleteButton);

                betList.appendChild(card);
                });
            } catch (error) {
                console.error('Error:', error);
            }
        }


        async function fillAllUsers() {
            try {
                const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];
                const response = await fetch("http://localhost:8081/users/getallusers", {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': userToken,
                    },
                });

                if (!response.ok) {
                    console.error('Failed to fetch all users:', response.statusText);
                    return;
                }

                const userList = await response.json();
                const userListContainer = document.getElementById("userList");

                userList.forEach(user => {
                    const card = document.createElement("li");
                    card.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");

                    const cardContent = document.createElement("div");
                    cardContent.textContent = `Username: ${user.login}, Group: ${user.rank}, Balance: ${user.money}`;

                    const deleteButton = document.createElement("button");
                    deleteButton.classList.add("btn", "btn-danger");
                    deleteButton.textContent = "Delete";
                    deleteButton.onclick = () => confirmDelete(user.login); // Call the delete function

                    const editButton = document.createElement("button");
                    editButton.classList.add("btn", "btn-orange");
                    editButton.textContent = "Edit";
                    editButton.onclick = () => editUser(user.login, user.rank, user.money); // Call the edit function

                    card.appendChild(cardContent);
                    card.appendChild(editButton);
                    card.appendChild(deleteButton);

                    userListContainer.appendChild(card);
                });

            } catch (error) {
                console.error('Error:', error);
            }
        }
        function logout() {
        // Clear all cookies
        const cookies = document.cookie.split("; ");

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            const eqPos = cookie.indexOf("=");
            const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
        }

        // Redirect to the login page
        window.location.href = 'login.html';
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Check if the user has previously accepted cookies
        if (!getCookie('cookiesAccepted')) {
            // If not, show banner
            showCookieBanner();
        }
    });

        function showCookieBanner() {
            var cookieBanner = document.getElementById('cookieBanner');
            if (cookieBanner) {
            cookieBanner.style.display = 'block';
            }
        }
        

        function acceptCookies() {
        // Set an acceptance cookie
            document.cookie = 'cookiesAccepted=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/; SameSite=Strict';

        // Hide banner
            var cookieBanner = document.getElementById('cookieBanner');
            if (cookieBanner) {
            cookieBanner.style.display = 'none';
            }
            console.log("Cookies accepted!");
        }

        function getCookie(name) {
            var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) return match[2];
        }

        function clearCookies() {
            const  cookies = document.cookie.split("; ");

        for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i];
        const eqPos = cookie.indexOf("=");
        const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }

        // Optional: Redirect to login page after clearing cookies
        window.location.href = 'login.html';
        }

        document.cookie = "exampleCookie=exampleValue; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";

        document.addEventListener('DOMContentLoaded', function () {
            // Check if the user has previously accepted cookies
            if (!getCookie('cookiesAccepted')) {
                // If not, show banner
                showCookieBanner();
            }
        });
    </script>
    
    <div id="cookieBanner" class="cookie-banner">
        <p>This website uses cookies to provide services at the highest level. By continuing to use the site, you agree to their use.</p>
        <button onclick="acceptCookies()">Accept</button>
    </div>
    
</body>

</html>
