<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        
    <title>Main Page</title>

    <style>
        .form-check .form-check-input {
            float: none;
            margin-left: -1.5em;
        }

        .big-blue-button-t {
            cursor: pointer;
            border: none;
            padding: 10px 35px;
            font-size: 23px;
            background-color: #ffa500;
            font-weight: bold;
            color: white;
            transition: background-color 0.3s ease-in-out;
            border-radius: 10px;
            position: absolute;
            transform: translate(-50%, -50%);
            /* Initially hide the button */
            transition: opacity 0.3s ease-in-out;
        }

        .card {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            width: 100%;
            background-color: rgba(255, 165, 0, 0.5);
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(1, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        #modalImage {
            flex: 1;
            height: 400px;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
        }

        .form-check-input {
            width: 35px;
            height: 35px;
            cursor: pointer;
            margin-top: 5px;
        }

        .form-check-input:hover,
        .form-check-input:checked {
            background-color: #ffa500;
            color: white;
        }

        .form-check-label {
            cursor: pointer;
            margin-left: 5px;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <a class="logo" href="#">Candy Betting</a>
        <div class="profile">
            <span id="username"></span>    
            <a href="profile.html"><img src="images/profile.png" alt="profile"></a>
            <div class="balance">
                <span id="balance">0</span>
                <img src="images/candy.png" alt="Candy">
            </div>
        </div>
    </nav>

    <div class="main-container">
        <!-- Match List -->
        <div class="match-container">
            <span id="losung">Upcoming Matches</span>
        </div>

        <!-- Search Form -->
        <form id="searchForm" onsubmit="submitSearch()">
            <div class="input-group">
                <input type="text" id="searchInput" placeholder="Search matches..." class="form-control">
                <button type="submit" class="blue-button-search">Search</button>
            </div>
        </form>

        <!-- Match Cards Carousel -->
        <ul id="matchList"></ul>

        <!-- Модальное окно -->
        <div class="modal fade" id="betModal" tabindex="-1" aria-labelledby="betModalLabel" aria-hidden="true"
            style="background-color: rgba(255, 165, 0, 0.09);">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content" style="background-color: #343a40;">
                    <div class="modal-body" style="padding: 10%;">
                        <form class="w-100 me-4">
                            <h2 class="mb-4 losung">Make your bet:</h2>
                            <!-- Выбор результата (команда1, команда2, ничья) с использованием чекбокса -->
                            <div class="mb-4 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="result" value="team1">
                                    <label class="form-check-label team-details-modul" id="team1Label">Команда 1</label>
                                </div>
                                <div class="align-items-center">
                                    <label class="vs">VS</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="result" value="team2">
                                    <label class="form-check-label team-details-modul" id="team2Label">Команда 2</label>
                                </div>
                            </div>
                            <div class="form-check al">
                                <input type="radio" class="form-check-input" name="result" value="draw">
                                <label class="form-check-label team-details-modul">Draw</label>
                            </div>
        
                            <!-- Ввод суммы ставки с использованием текстового поля -->
                            <div class="mb-4 mt-5">
                                <label for="betAmount" class="form-label">Amount of your bet:</label>
                                <input type="text" class="form-control" id="betAmount" placeholder="Enter your bet amount">
                            </div>

        
                            <button type="button" class="btn big-blue-button-t mt-3 mb-5" id="betButton">Bet</button>
                            <!-- Кнопка для совершения ставки -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", async function () {
        try {
        // Получаем текущего пользователя и его баланс
        const user = await getCurrentUser();
        
        // Устанавливаем баланс в соответствующий элемент страницы
        document.getElementById("balance").textContent = `${user.money}`;
        document.getElementById("username").textContent = `Hello, ${user.login}!`;
        } catch (error) {
           console.error('Error fetching user data:', error);
        }
        });

        async function doBet(matchid) {
        const restAddress = "http://localhost:8081/users/dobet/" + matchid;

        const radioButtons = document.getElementsByName('result');

        let betOn = null;
        const betAmountInput = document.getElementById('betAmount');
        const betAmount = betAmountInput.value;
        

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                const labelElement = radioButton.closest('div.form-check').querySelector('label');
                if (labelElement) {
                    betOn = labelElement.textContent.trim();
                    //console.log('Found label element:', labelElement);
                } else {
                    console.error('Label element not found for the selected radio button.');
                }
                break;
            }
        }

        // Получаем токен пользователя из куки
        const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];

        try {
            const response = await fetch(restAddress, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': userToken,
                },
                body: JSON.stringify({ bet_on: betOn, amount: betAmount }),
            });

            if (response.ok) {
                // Обработка успешного ответа
                console.log('Bet placed successfully!');
            } else {
                console.error('Failed to place bet:', response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

        async function getCurrentUser() {
            const userLogin = document.cookie.split('; ').find(row => row.startsWith('userLogin=')).split('=')[1];
            const restAddress = "http://localhost:8081/users/getuser/" + userLogin;
            const userToken = document.cookie.split('; ').find(row => row.startsWith('userToken=')).split('=')[1];

        try {
            const response = await fetch(restAddress, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': userToken,
                },
            });

            if (response.ok) {
                const userData = await response.json();
                return userData;
            } else {
                throw new Error('Failed to fetch user data');
            }
        } catch (error) {
            console.error('Error:', error);
            throw error;
        }
        }

        async function openBetModal(id) {
        const restAddress = "http://localhost:8080/matches/" + id;

        try {
            const response = await fetch(restAddress, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                const matchData = await response.json();
                document.getElementById('team1Label').innerHTML = matchData[0].country_home;
                document.getElementById('team2Label').innerHTML = matchData[0].country_guest;

                const userBalance = parseFloat(document.getElementById("balance").textContent);

                const betButtonInsideModal = document.querySelector('#betModal .big-blue-button-t');

                if (betButtonInsideModal) {
                    // Remove any existing click event listeners
                    betButtonInsideModal.removeEventListener('click', doBet);
                    
                    // Add a new click event listener
                    betButtonInsideModal.addEventListener('click', function () {
                        doBet(id);
                    });
                } else {
                    console.error('Button with class "big-blue-button-t" not found inside the modal');
                }

            } else {
                console.error('Failed to fetch match data:', response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }





        function submitSearch() {
            event.preventDefault();
            const searchInputValue = document.getElementById('searchInput').value.trim();
            if (searchInputValue !== '') {
                const currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('filter', searchInputValue);
                window.location.href = currentUrl.toString();
            }
        }

        function getJSON() {
            var queryParams = new URLSearchParams(window.location.search);
            var parameterValue = queryParams.get('filter');
            console.log('Parameter Value:', parameterValue);
            var restAdress = 'http://localhost:8080/matches'
            if (parameterValue !== null) {
                restAdress += '/' + parameterValue
            }

            fetch(restAdress, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(json => populateMatchList(json));

        }

        async function updateMatch(matchId) {
            try {
                const response = await fetch(`http://localhost:8080/updatematches/${matchId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ got_user_score: true }),
                });

                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Failed to update match:', response.statusText);
                }
            } catch (error) {
                console.error(error);
            }
        }

        function getCookie(name) {
            const cookies = Object.fromEntries(
                document.cookie.split('; ').map(cookie => cookie.split('=')));
            return cookies[name];
        }

        async function deleteMatch(matchId) {
            try {
                const response = await fetch(`http://localhost:8080/${matchId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Failed to delete match');
                }
            } catch (error) {
                console.error(error);
            }
        }

        function populateMatchList(json) {
            const matchList = document.getElementById('matchList');

            json.forEach(match_json => {
                const card = document.createElement('div');
                card.className = 'card';

                const cardHeader = document.createElement('div');
                cardHeader.className = 'card-body date';
                cardHeader.textContent = 'Date: ' + match_json.date;

                const cardBody = document.createElement('div');
                cardBody.className = 'card-body';

                const matchDetails = document.createElement('div');
                matchDetails.className = 'match-details';

                const homeTeam = document.createElement('div');
                homeTeam.className = 'team-details';
                homeTeam.innerHTML = match_json.country_home;

                const score = document.createElement('div');
                score.className = 'score';
                score.innerHTML = '<strong>' + match_json.country_home_score + ' : ' + match_json.country_guest_score + '</strong>';

                const guestTeam = document.createElement('div');
                guestTeam.className = 'team-details';
                guestTeam.innerHTML = match_json.country_guest;

                const scoreSection = document.createElement('div');
                scoreSection.className = 'score-section';

                const deleteButton = document.createElement('button');
                deleteButton.className = 'red-button';
                deleteButton.textContent = 'Delete';
                deleteButton.onclick = function () {
                    deleteMatch(match_json._id);
                };

                const editLink = document.createElement('a');
                editLink.className = 'blue-button';
                editLink.href = 'updatematch.html?filter=' + match_json._id;
                editLink.textContent = 'Edit';


                const bigBlueButton = document.createElement('button');
                bigBlueButton.className = 'big-blue-button';
                bigBlueButton.textContent = 'BET';
                bigBlueButton.setAttribute('data-toggle', 'toggle');
                bigBlueButton.setAttribute('data-bs-toggle', 'modal');
                bigBlueButton.setAttribute('data-bs-target', '#betModal');

                bigBlueButton.addEventListener('click', function () {
                    openBetModal(match_json._id);
                });

                matchDetails.appendChild(homeTeam);
                matchDetails.appendChild(score)
                matchDetails.appendChild(guestTeam);


                cardBody.appendChild(matchDetails);
                cardBody.appendChild(scoreSection);
                cardBody.appendChild(bigBlueButton);

                card.appendChild(cardHeader);
                card.appendChild(cardBody);

                matchList.appendChild(card);
            });
        }


        window.onload = getJSON();
        
    </script>


</body>

</html>